    <footer class="{{ include.class }}">
        <div class="container">
            <div class="row">
              <h4>Other Links</h4>
              <ul>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/instructors">Instructors</a></li>
              </ul>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </div>
    </footer>