    <footer class="{{ include.class }}">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
              <h4>Other Links</h4>
              <ul>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/instructors">Instructors</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
              <h4>Course</h4>
              <ul>
                <li><a href="http://www.frontrange.edu/About-Us/Corporate-Solutions-and-Small-Business-Development/Corporate-Solutions/Web-Developer-Flyer.aspx">Course Flyer</a></li>
                <li><a href="/course">Course Overview</a></li>
                <li><a href="http://www.frontrange.edu/About-Us/Corporate-Solutions-and-Small-Business-Development/Corporate-Solutions/Web-Developer-Application.aspx">Application Form</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <hr>
                  <p>Copyright &copy; WebLab - <a href="http://www.frontrange.edu/">Front Range Community College</a> 2014</p>
              </div>
          </div>
      </div>
    </footer>