<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/public/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ site.url }}/public/css/stylish-portfolio.css" rel="stylesheet">
    <link href="{{ site.url }}/public/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="{{ site.url }}/public/css/syntax-highlighter.css" rel="stylesheet">
    <link href="{{ site.url }}/public/css/featured-posts.css" rel="stylesheet">

    <script src="{{ site.url }}/public/js/jquery-1.10.2.js"></script>
    <script src="{{ site.url }}/public/js/bootstrap.js"></script>
</head>