    <div id="services" class="services {% if include.extended %}extended{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <a href="/"><i class="service-icon fa fa-rocket"></i></a>
                        <h4>Course Overview</h4>
                        {% if include.extended %}
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="#"><i class="service-icon fa fa-pencil"></i></a>
                        <h4>Course Curriculum</h4>
                        {% if include.extended %}
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/resources"><i class="service-icon fa fa-paperclip"></i></a>
                        <h4>Web Resources</h4>
                        {% if include.extended %}
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        {% endif %}
                    </div>
                </div>
                <!--
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-shield"></i>
                        <h4>The Instructors</h4>
                        <p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p>
                    </div>
                </div>
                -->
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/students"><i class="service-icon fa fa-users"></i></a>
                        <h4>The Students</h4>
                        {% if include.extended %}
                        <p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>