    <div id="services" class="services {% if include.extended %}extended{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <a href="/"><i class="service-icon fa fa-rocket"></i></a>
                        <h4>Latest</h4>
                        {% if include.extended %}
                        <p>News and blog posts</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/course"><i class="service-icon fa fa-pencil"></i></a>
                        <h4>Course Curriculum</h4>
                        {% if include.extended %}
                        <p>What the course covers</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/resources"><i class="service-icon fa fa-paperclip"></i></a>
                        <h4>Web Resources</h4>
                        {% if include.extended %}
                        <p>Free tutorials and tools </p>
                        {% endif %}
                    </div>
                </div>
                <!--
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-shield"></i>
                        <h4>The Instructors</h4>
                        <p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p>
                    </div>
                </div>
                -->
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/students"><i class="service-icon fa fa-users"></i></a>
                        <h4>The Students</h4>
                        {% if include.extended %}
                        <p>We're learning</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>