  <!-- /well -->

  <div class="well">
      <h4>{% if page.userid %}Other Posts{% else %}Recent Posts{% endif %}</h4>
      <div class="row">
          <div class="col-lg-12">
              <ul class="list-unstyled">
                {% for post in site.posts %}
                  {% if page.userid %}
                    {% if post.userid == page.userid %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                  {% else %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
      </div>
  </div>