---
layout: default
title: Instructors
---


<h4> Instructors </h4>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Page</th>
      <th>Posts</th>
      <th>Name</th>
      <th>Github</th>
      <th>Twitter</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {% for user in site.data.users %}
      {% if user.instructor %}
        <tr>
          <td><a href="{{ site.url }}/instructors/{{ user.userid }}"><i class="icon fa fa-file" /></a></td>
          <td><a href="{{ site.url }}/categories/#{{ user.userid }}"><i class="icon fa fa-bullhorn" /></a></td>
          <td>{{ user.name }}</td>
          <td><a href="https://github.com/{{ user.github }}">{{ user.github }}</a></td>
          <td><a href="http://twitter.com/{{ user.twitter }}">{{ user.twitter }}</a></td>
          <td>{{ user.city }}, {{ user.state }} {{ user.postal }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>