<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
  
    {% include main_nav.html %}

    <div class="container">

        <div class="row">
            <div class="col-md-7 col-md-offset-1">

                <!-- the actual blog post: title/author/date/content -->
                <h1>{{ page.title }}</h1>
                <p class="lead">by {% if page.authorLink %}<a href="{{ page.authorLink }}">{% endif %} {{ page.author }}{% if page.authorLink %}</a>{% endif %}
                </p>
                <hr>
                <p>
                <span class="glyphicon glyphicon-time"></span> Posted on {{ page.date | date_to_long_string }}
                <span class="pull-right"><b>Tags:</b> {{ page.tags | array_to_sentence_string }}</span>
                </p>
                <hr>
                {% if page.image %}
                <img src="{{ page.image }}" class="img-responsive">
                <hr>
                {% endif %}
                
                {% if page.summary %}
                <p class="lead">{{ page.summary }}</p>
                {% endif %}
                
                {{ content }}

                {% if page.comments %}
                  <hr>
                  <h3>Comments</h3>
                  
                  {% include disqus_thread.html %}
                {% endif %}

            </div>

            <div class="col-md-3 col-md-offset-1">
                {% include sidebar.html %}
            </div>
        </div>

        <hr>

    </div>
    <!-- /.container -->

    {% include footer.html class="content" %}

</body>

</html>